html {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

nav {
    display: inline;
    position: fixed;
    height: 69px;
    background-color: black;
    border-bottom: 1px solid seashell;
}

nav li {
    text-decoration-line: underline;
    text-align: right;    
}

nav img {
    height: 50px;
    padding-left: 10px;
    text-align: left;
}


#banner {
    background-image: url("images/img-mission-background.jpg");
    background-size: cover;
    height: 700px;
    top: 69px;
}

.bannerText {
    width: 1200px;
    display: flex;
    align-items: centered;
}

#monthlyTea {
    width: 1000px;
}

.images img {
    width: 300px;
    height: 200px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#locations {
    background-image: url("images/img-locations-background");
    height: 500px;
    display: flex-inline;
}

.boxes {
    width: 300px;
    padding: 15px, 20px;
    opacity: 1;
    align-items: center;
}

#footer {
    height: 200px;
}

#copyright {
    padding-left: 20px;
    text-align: left;
}